In [1]:
import pandas as pd
f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None

f500_type = type(f500)

f500_shape = f500.shape

In [2]:
f500_head = f500.head(6)

f500_tail = f500.tail(8)

f500.info()

<class 'pandas.core.frame.DataFrame'>
Index: 500 entries, Walmart to AutoNation
Data columns (total 16 columns):
rank                        500 non-null int64
revenues                    500 non-null int64
revenue_change              498 non-null float64
profits                     499 non-null float64
assets                      500 non-null int64
profit_change               436 non-null float64
ceo                         500 non-null object
industry                    500 non-null object
sector                      500 non-null object
previous_rank               500 non-null int64
country                     500 non-null object
hq_location                 500 non-null object
website                     500 non-null object
years_on_global_500_list    500 non-null int64
employees                   500 non-null int64
total_stockholder_equity    500 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 66.4+ KB

In [3]:
industries = f500.loc[:,"industry"]

previous = f500.loc[:,["rank","previous_rank","years_on_global_500_list"]]

financial_data = f500.loc[:,"revenues":"profit_change"]

In [4]:
countries = f500["country"]
revenues_years = f500[["revenues","years_on_global_500_list"]]

ceo_to_sector = f500.loc[:,"ceo":"sector"]

In [5]:
ceos = f500["ceo"]
walmart = ceos["Walmart"]

apple_to_samsung = ceos["Apple":"Samsung Electronics"]

oil_companies = ceos[["Exxon Mobil","BP","Chevron"]]

In [6]:
drink_companies = f500.loc[["Anheuser-Busch InBev","Coca-Cola","Heineken Holding"]]

big_movers = f500.loc[["Aviva","HP","JD.com","BHP Billiton"], ["rank","previous_rank"]]
middle_companies = f500.loc["Tata Motors":"Nationwide","rank":"country"]

In [7]:
profits_desc = f500["profits"].describe()
revenue_and_employees_desc = f500[["revenues","employees"]].describe()

In [8]:
top5_countries = f500["country"].value_counts().head()

top5_previous_rank = f500["previous_rank"].value_counts().head()

max_f500 = f500.max(numeric_only=True)

In [9]:
f500["revenues_b"] = f500.loc[:,"revenues"] / 1000
f500.loc["Dow Chemical","ceo"] = "Jim Fitterling"

In [10]:
kr_bool = f500["country"] == "South Korea"

top_5_kr = f500[kr_bool].head()

In [11]:
import numpy as np
prev_rank_before = f500["previous_rank"].value_counts(dropna=False).head()

 

f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

prev_rank_after = f500["previous_rank"].value_counts(dropna=False).head()

In [12]:
top_3_countries = f500["country"].value_counts().head(3)

coun_usa =  f500["country"] == "USA" 

cities_usa = f500.loc[coun_usa, "hq_location"].value_counts().head()

coun_china = f500["country"] == "China"


sector_china = f500.loc[coun_china, "sector"].value_counts().head(3)


coun_japan = f500["country"] == "Japan"

mean_employees_japan = f500.loc[coun_japan, "employees"].mean()

In [13]:
import pandas as pd
import numpy as np

f500 = pd.read_csv("f500.csv", index_col=0)
f500.index.name = None
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

fifth_row = f500.iloc[4]

first_three_rows = f500.iloc[0:3]

first_seventh_row_slice = f500.iloc[[0,6],:5]

# Pandas - using conventiol method of areading file without index_col to get the index column as numbers

In [14]:
import pandas
f500 = pandas.read_csv("f500.csv")
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

In [21]:
previously_ranked = f500[f500["previous_rank"].notnull()]

#print(previously_ranked)
rank_change = f500["previous_rank"] - previously_ranked["rank"]

In [22]:
print(rank_change)

0        0.0
1        0.0
2        1.0
3       -1.0
4        3.0
5        1.0
6       -2.0
7        3.0
8        0.0
9       -4.0
10       1.0
11      -2.0
12       4.0
13       4.0
14      -2.0
15      -2.0
16      -1.0
17       2.0
18       4.0
19      -1.0
20       0.0
21      -7.0
22       5.0
23       3.0
24       8.0
25      18.0
26      -2.0
27      -6.0
28       7.0
29      -6.0
       ...
470     16.0
471    -27.0
472      NaN
473      9.0
474    -14.0
475    -92.0
476     17.0
477      NaN
478    -50.0
479     -8.0
480      9.0
481      6.0
482      NaN
483    -18.0
484      NaN
485    -55.0
486    -13.0
487      NaN
488    -64.0
489   -107.0
490    -20.0
491      NaN
492    -89.0
493      NaN
494      NaN
495      NaN
496    -70.0
497    -61.0
498    -32.0
499      NaN
Length: 500, dtype: float64

In [23]:
big_rev_neg_profit = f500.loc[(f500["revenues"] > 100000) & (f500["profits"] < 0)]

tech_outside_usa = f500.loc[(f500["country"] != "USA") & (f500["sector"] == "Technology")].head()

In [96]:
top_employer_by_country = {}

countries = f500["country"].unique()

#print(countries)
for ic in countries:
    selected_rows = f500[f500["country"] == ic]
    sorted_rows = selected_rows.sort_values(by="employees",ascending=False)
    top_employer = sorted_rows.iloc[0]
    employer_name = top_employer["company"]
    top_employer_by_country[ic] = employer_name

In [37]:
print(top_employer_by_country)

{'U': Series([], Name: company, dtype: object), 'S': Series([], Name: company, dtype: object), 'A': Series([], Name: company, dtype: object)}

In [70]:
print(f500.iloc[5,0])

Volkswagen

In [75]:
print(f500.loc[:5,"company"])

0                     Walmart
1                  State Grid
2               Sinopec Group
3    China National Petroleum
4                Toyota Motor
5                  Volkswagen
Name: company, dtype: object

In [83]:
#loc_sort = f500.loc[:5,"company":"profits"]
print(f500.loc[:5,"company":"profits"].sort_values(by="profits"))

#print(loc_sort.sort_values(by="profits"))

                    company  rank  revenues  revenue_change  profits
2             Sinopec Group     3    267518            -9.1   1257.9
3  China National Petroleum     4    262573           -12.3   1867.5
5                Volkswagen     6    240264             1.5   5937.3
1                State Grid     2    315199            -4.4   9571.3
0                   Walmart     1    485873             0.8  13643.0
4              Toyota Motor     5    254694             7.7  16899.3

In [85]:
roa = f500.loc[:,"profits"] / f500.loc[:,"assets"]

In [87]:
#print(roa)

In [89]:
f500["roa"] = roa

In [91]:
#print(f500)

In [98]:

top_roa_by_sector = {}

sector_companies = f500["sector"].unique()

for i in sector_companies:
    
    selected_rows = f500[f500["sector"] == i]
    sorted_rows = selected_rows.sort_values(by="roa", ascending=False)
    #print(sorted_rows)
    top_roa = sorted_rows.iloc[0]
    cc_name = top_roa["company"]
    top_roa_by_sector[i] = cc_name
print(top_roa_by_sector)

{'Retailing': 'H & M Hennes & Mauritz', 'Energy': 'National Grid', 'Motor Vehicles & Parts': 'Subaru', 'Financials': 'Berkshire Hathaway', 'Technology': 'Accenture', 'Wholesalers': 'McKesson', 'Health Care': 'Gilead Sciences', 'Telecommunications': 'KDDI', 'Engineering & Construction': 'Pacific Construction Group', 'Industrials': '3M', 'Food & Drug Stores': 'Publix Super Markets', 'Aerospace & Defense': 'Lockheed Martin', 'Food, Beverages & Tobacco': 'Philip Morris International', 'Household Products': 'Unilever', 'Transportation': 'Delta Air Lines', 'Materials': 'CRH', 'Chemicals': 'LyondellBasell Industries', 'Media': 'Disney', 'Apparel': 'Nike', 'Hotels, Restaurants & Leisure': 'McDonaldâ€™s', 'Business Services': 'Adecco Group'}

NameError: name 'laptops' is not defined